.text-editor-container {
  width:235px;
height:664px;
radius:12px;
background: #FFFFFF;
box-shadow: 3px 4px 24px rgba(0, 154, 249, 0.1);
border-radius: 12px;

top: 11%;
right: 54px;
position: absolute;

}


